*.class
*.classpath

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/bin/
*.metadata
*.project
*.classpath
*.settings
*.DS_Store
*.recommenders
/RemoteSystemsTempFiles/
*.settings

indexing/index/*
/indexing/

_0.cfe
_0.cfs
_0.si
segments_1
write.lock
